.boxContent {
  background: rgba(20, 20, 20, 0.55);
}

div {
  margin-top: 10px !important;
}

.userPicture {
  width: 100px;
  height: 100px;
}

h2{
    background: rgba(209, 198, 198, 0.39) !important;
}

h4{
    text-decoration: underline !important;
}
