.boxContent {
  background: rgba(20, 20, 20, 0.55);
  border-radius: 50px;
}

div {
  margin-top: 10px !important;
}

.userPicture {
  width: 100px;
  height: 100px;
}

h2 {
  background: #000000b0 !important;
  border-radius: 20px !important;
  padding: 10px;
}

h4 {
  text-decoration: underline !important;
}
