<h1>About Me</h1>

<div class="row boxContent">
    <div class="col-sm-12">
        <img class="userPicture" src="assets/userPîcture.png">
        <p>
            Paco Canseco Leon
            <br>
            Brenes - Sevilla
        </p>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-sm-12">
                <h2>Education</h2>
                <div>
                    <h4>Preschool and pre-kindergarten 2015-2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
                <div>
                    <h4>Extracurricular activities 2015-2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
                <div>
                    <h4>3D/2D Animation, games, and interactive environment 2015-2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
                <div>
                    <h4>Informatics Engineering 2015-2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
            </div>
            <div class="col-sm-12">
                <h2>Employment</h2>
                <div>
                    <h4>Professional Web Designer 2015-2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
                <div>
                    <h4>Professional Web Developer 2015-2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
                <div>
                    <h4>Artist 3D 2015-2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
                <div>
                    <h4>Professional Web Designer 2015-2017</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col-sm-12">
                <h2>Skill</h2>
                <div>
                    <h5>Web Design 80%</h5>
                    <div class="proggress"
                        style="background-color: rgb(76, 176, 80); height: 10px; border-radius: 6px; width: 80%;">
                    </div>
                </div>
                <div>
                    <h5>Web Development 90%</h5>
                    <div class="proggress"
                        style="background-color: rgb(139, 194, 74); height: 10px; border-radius: 6px; width: 90%;">
                    </div>
                </div>
                <div>
                    <h5>Graphic Design 60%</h5>
                    <div class="proggress"
                        style="background-color: rgb(255, 151, 0); height: 10px; border-radius: 6px; width: 60%;">
                    </div>
                </div>
                <div>
                    <h5>Digital Marketing 80%</h5>
                    <div class="proggress"
                        style="background-color: rgb(255, 120, 0); height: 10px; border-radius: 6px; width: 80%;">
                    </div>
                </div>
                <div>
                    <h5>Software Development 50%</h5>
                    <div class="proggress"
                        style="background-color: rgb(254, 87, 34); height: 10px; border-radius: 6px; width: 50%;">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <h2>Certificates</h2>
                <div>
                    <h4>Microsoft Professional 2018 to 2020</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
                <div>
                    <h4>Adobe Creative 2018 to 2020</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, </p>
                </div>
            </div>
            <div class="col-sm-12">
                <h4>International English</h4>
                <div>
                    <h5>Spanish 100%</h5>
                    <div class="proggress"
                        style="background-color: rgb(76, 176, 80); height: 10px; border-radius: 6px; width: 100%;">
                    </div>
                </div>
                <div>
                    <h5>English 50%</h5>
                    <div class="proggress"
                        style="background-color: rgb(139, 194, 74); height: 10px; border-radius: 6px; width: 50%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>