html, body{ height:100%; margin:0; }

body {
  font-family: lobster !important;
  background: url('./assets/backgroundBody.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex; 
  flex-direction:column; 
}

footer{
  display: table;
  text-align: center; 
  background: black;
  color:#fff;
  margin-top:auto;
}

.gallery {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1,h2,h3,h4,h5,p,div{
  color:#fff;
}

